[Unit]
Description=Datasette
After=network.target

[Service]
Type=simple
User=ubuntu
Environment=DATASETTE_SECRET=ssseeecccrrreeettt
WorkingDirectory=/home/ubuntu/aphis-inspection-reports-dashboard
ExecStart=make serve-prod
Restart=on-failure

[Install]
WantedBy=multi-user.target