{% extends "default:base.html" %}
{% block title %}APHIS data explorer{% endblock %}
{% block content %}

    <h1>APHIS inspections data exploration</h1>
    <h2><a href="/aphis_reports/citation_inspection">Browse data</a></h2>
    <h6>What is this?</h6>
    <p>This is a way to search through inspections and citations by the USDA Animal and Plant Health Inspection Service (APHIS). The data has been collected by the <a href="https://www.data-liberation-project.org">Data Liberation Project</a>.</p>
    <p>For documentation on the dataset, read <a href="https://docs.google.com/document/d/19rnwJfahCm9ld-71mkgKJjWhphsuOCCx3ZauL1lIuHE/edit#heading=h.gsqormd9wk52">this FAQ</a> or the <a href="https://github.com/data-liberation-project/aphis-inspection-reports">GitHub repository</a>.</p>
    <h6>Data ingestion and known issues</h6>
    <p>We pull data from the repository, combine it into a single table, and use the OpenAI API to make each citation's full text searchable.</p>
    <p>For issues with the data, see the FAQ.</p>
    <h6>Contact</h6>
    Dataset: <a href="https://github.com/data-liberation-project/aphis-inspection-reports">https://github.com/data-liberation-project/aphis-inspection-reports</a>
    <br>
    Dashboard: <a href="mailto:contact@noomatic.tube">contact@noomatic.tube</a>

{% endblock %}
<footer class="ft">{% block footer %}Built by <a href="https://noomatic.tube">Noomatic</a> and <a href="https://github.com/geoffcorvera">Geoff</a> ⋅ {% include "default:_footer.html" %}{% endblock %}</footer>