{% extends "base.html" %}
{% block content %}
<div class="search-container" id="search-container" style="display: none;">
    <label for="previous-search-query">Results for:</label>
    <p id="previous-search-query"></p>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const query = localStorage.getItem('semanticSearchQuery');
        console.log({query})
        if (query) {
            document.getElementById('previous-search-query').innerText = query;
            document.getElementById('search-container').style.display = 'flex';
        } else {
            document.getElementById('search-container').style.display = 'none';
        }
        localStorage.setItem('semanticSearchQuery', ""); // downside is this erases if you reload the page, but won't show inaccurate results
  });
</script>
<div style="margin: 10px;">
<form><input value="New semantic search" type="button" onclick="window.location.href='/{{ database }}/citation_inspection/'"></input></form>
</div>
<style>
  .search-container {
    display: flex;
    align-items: center;
    font-size: 1.5em; /* Adjust this value to increase/decrease text size */
    margin-bottom: 10px;
  }

  .search-container label {
    margin-right: 10px;

  }

  .search-container p {
    margin: 0;
  }
</style>

{% if canned_write and db_is_immutable %}
    <p class="message-error">This query cannot be executed because the database is immutable.</p>
{% endif %}

<h1 style="padding-left: 10px; border-left: 10px solid #{{ database_color(database) }}">{{ metadata.title or database }}{% if canned_query and not metadata.title %}: {{ canned_query }}{% endif %}{% if private %} 🔒{% endif %}</h1>

<form class="sql" action="{{ urls.database(database) }}{% if canned_query %}/{{ canned_query }}{% endif %}" method="{% if canned_write %}post{% else %}get{% endif %}">
  <h3>Custom SQL query{% if display_rows %} returning {% if truncated %}more than {% endif %}{{ "{:,}".format(display_rows|length) }} row{% if display_rows|length == 1 %}{% else %}s{% endif %}{% endif %}{% if not query_error %}
      <span class="show-hide-sql">(<a href="{{ show_hide_link }}">{{ show_hide_text }}</a>)</span>
  {% endif %}</h3>
  {% if error %}
      <p class="message-error">{{ error }}</p>
  {% endif %}
  {% if not hide_sql %}
      {% if editable and allow_execute_sql %}
          <p><textarea id="sql-editor" name="sql"{% if query and query.sql %} style="height: {{ query.sql.split("\n")|length + 2 }}em"{% endif %}
          >{% if query and query.sql %}{{ query.sql }}{% else %}select * from {{ tables[0].name|escape_sqlite }}{% endif %}</textarea></p>
      {% else %}
          <pre id="sql-query">{% if query %}{{ query.sql }}{% endif %}</pre>
      {% endif %}
  {% else %}
      {% if not canned_query %}
          <input type="hidden" name="sql"
              value="{% if query and query.sql %}{{ query.sql }}{% else %}select * from {{ tables[0].name|escape_sqlite }}{% endif %}"
          >
      {% endif %}
  {% endif %}
  {% if named_parameter_values %}
      <h3>Query parameters</h3>
      {% for name, value in named_parameter_values.items() %}
          <p><label for="qp{{ loop.index }}">{{ name }}</label> <input type="text" id="qp{{ loop.index }}" name="{{ name }}" value="{{ value }}"></p>
      {% endfor %}
  {% endif %}
  <p>
      {% if not hide_sql %}<button id="sql-format" type="button" hidden>Format SQL</button>{% endif %}
      {% if canned_write %}<input type="hidden" name="csrftoken" value="{{ csrftoken() }}">{% endif %}
      <input type="submit" value="Run SQL"{% if canned_write and db_is_immutable %} disabled{% endif %}>
      {{ show_hide_hidden }}
      {% if canned_query and edit_sql_url %}<a href="{{ edit_sql_url }}" class="canned-query-edit-sql">Edit SQL</a>{% endif %}
  </p>
</form>

{% if "narrative" in columns %}
  {% for row in display_rows %}
    <div class="row-container {{ loop.cycle('odd', 'even') }}">
      <div class="narrative-container">
        <p class="col-narrative type-str">{{ row[columns.index("narrative")] }}</p>
      </div>
      <div class="details-container">
          <table>
              <tbody>
                  {% for val in row %}
                      {% if loop.index0 != columns.index("narrative") %}
                          <tr>
                              <tr>
                                  {% if loop.index0 == columns.index("hash_id") %}
                                      <td class="col-{{ columns[loop.index0]|to_css_class }} type-str">Incident hash_id</td>
                                      <td class="col-{{ columns[loop.index0]|to_css_class }} type-str"><a href="{{ urls.path(urls.table(database, 'inspections')+'/'+val) }}">{{ val }}</a></td>

                                  {% else %}
                                      <td class="col-{{ columns[loop.index0]|to_css_class }} type-str">{{ columns[loop.index0] }}</td>
                                      <td class="col-{{ columns[loop.index0]|to_css_class }} type-str">{{ val }}</td>
                                  {% endif %}
                              </tr>
                          </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  {% endfor %}

{% else %}
  <div class="table-wrapper"><table class="rows-and-columns">
      <thead>
          <tr>
              {% for column in columns %}<th class="col-{{ column|to_css_class }}" scope="col">{{ column }}</th>{% endfor %}
          </tr>
      </thead>
      <tbody>
      {% for row in display_rows %}
          <tr>
              {% for column, td in zip(columns, row) %}
                  <td class="col-{{ column|to_css_class }}">{{ td }}</td>
              {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
  </table></div>
{% endif %}

<style>
  .row-container {
    display: flex;
    margin-bottom: 10px;
  }

  .narrative-container {
    flex: 1;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .narrative-container p,
  .details-container p {
    margin: 0;
  }

  /* Optional: Add some padding for better readability */
  .col-narrative {
    padding: 10px;
  }

  .details-container p {
    padding: 5px;
    border-bottom: 1px solid #ddd; /* Example border for separation */
  }

  div .even {
      background-color: rgb(217, 235, 240);
  }

</style>

{% endblock %}